In [3]:
import pandas as pd

In [2]:
df = pd.read_csv('hourly_dataframe.csv')

In [38]:
df.head()

,date,temperature_2m,wind_speed_10m,wind_speed_100m,year,month
city,,,,,,
Vladik,2017-01-01 00:00:00,-14.309999,3.054701,0.509117,2017,1
Vladik,2017-01-01 01:00:00,-10.309999,2.595997,3.319036,2017,1
Vladik,2017-01-01 02:00:00,-4.460000,1.835647,5.411986,2017,1
Vladik,2017-01-01 03:00:00,-1.660000,5.091168,11.609651,2017,1
Vladik,2017-01-01 04:00:00,0.040000,8.788720,15.990646,2017,1

In [35]:
df = df.drop(columns=['Unnamed: 0'], axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [19]:
df.drop(df.index[60408:], inplace=True)

In [22]:
df['date'] = pd.to_datetime(df['date'])

In [23]:
df.dtypes

date               datetime64[ns]
temperature_2m            float64
wind_speed_10m            float64
wind_speed_100m           float64
dtype: object

In [25]:
df['year']= df['date'].dt.year

In [27]:
df['month']= df['date'].dt.month

In [31]:
df['city'] = 'Владик'

In [43]:
weather = df.groupby(['city', 'year', 'month']).agg({'temperature_2m' :'mean', 'wind_speed_10m':'mean', 'wind_speed_100m':'mean'})

In [45]:
weather.to_csv('weather.csv')

In [4]:
df = pd.read_excel('inflycia.xlsx')

In [13]:
df

,year,янв,фев,мар,апр,май,июн,июл,авг,сен,окт,ноя,дек,Всего
0,2023,0.84,0.46,0.37,0.38,0.31,0.37,0.63,0.28,0.87,0.83,NaN,NaN,NaN
1,2022,0.99,1.17,7.61,1.56,0.12,-0.35,-0.39,-0.52,0.05,0.18,0.37,0.78,11.94
2,2021,0.67,0.78,0.66,0.58,0.74,0.69,0.31,0.17,0.60,1.11,0.96,0.82,8.39
3,2020,0.40,0.33,0.55,0.83,0.27,0.22,0.35,-0.04,-0.07,0.43,0.71,0.83,4.91
4,2019,1.01,0.44,0.32,0.29,0.34,0.04,0.20,-0.24,-0.16,0.13,0.28,0.36,3.05
5,2018,0.31,0.21,0.29,0.38,0.38,0.49,0.27,0.01,0.16,0.35,0.50,0.84,4.27
6,2017,0.62,0.22,0.13,0.33,0.37,0.61,0.07,-0.54,-0.15,0.20,0.22,0.22,0.42

In [12]:
df.rename(columns={'Unnamed: 0' : 'year'}, inplace=True)

In [25]:
df.query(f'year == 2017')[['янв', 'фев']]

    янв   фев
6  0.62  0.22

In [9]:
inflacia = {

}
for i in range(2017, 2023):
    inflacia[i] = df.query(f'Unnamed: 0 == "{str(i)}"')
inflacia

NotImplementedError: 'AnnAssign' nodes are not implemented

In [49]:
year = 2018
month=1
city = 'Певек'
df = pd.read_csv(f'{city}.csv')
n = df.query(f'year == {year} and month == {month}')['temperature_2m'].values[0]

In [50]:
n

-23.842766